/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
.background {
  width: 100vw;
  height: 100vw;
  background: #fffff;
}

/* line 17, ../sass/screen.scss */
.background span {
  width: 5vmin;
  height: 5vmin;
  border-radius: 5vmin;
  backface-visibilty: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(1) {
  color: #583C87;
  top: 71%;
  left: 64%;
  animation-duration: 13.3s;
  animation-delay: -14.4s;
  transform-origin: -4vw -18vh;
  box-shadow: -10vmin 0 3.65543vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(2) {
  color: #FFACAC;
  top: 40%;
  left: 45%;
  animation-duration: 11s;
  animation-delay: -11.4s;
  transform-origin: 6vw 15vh;
  box-shadow: -10vmin 0 3.65669vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(3) {
  color: #FFACAC;
  top: 88%;
  left: 69%;
  animation-duration: 10.2s;
  animation-delay: -5.6s;
  transform-origin: -6vw -20vh;
  box-shadow: 10vmin 0 3.06233vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(4) {
  color: #FFACAC;
  top: 29%;
  left: 96%;
  animation-duration: 12.3s;
  animation-delay: -6.4s;
  transform-origin: 18vw 3vh;
  box-shadow: 10vmin 0 1.26943vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(5) {
  color: #FFACAC;
  top: 47%;
  left: 16%;
  animation-duration: 11.7s;
  animation-delay: -6.2s;
  transform-origin: 10vw -18vh;
  box-shadow: -10vmin 0 3.66449vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(6) {
  color: #E45A84;
  top: 62%;
  left: 66%;
  animation-duration: 12.8s;
  animation-delay: -5.9s;
  transform-origin: 23vw -17vh;
  box-shadow: 10vmin 0 2.67262vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(7) {
  color: #583C87;
  top: 45%;
  left: 43%;
  animation-duration: 12.6s;
  animation-delay: -3.7s;
  transform-origin: -6vw -17vh;
  box-shadow: 10vmin 0 1.76427vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(8) {
  color: #583C87;
  top: 32%;
  left: 65%;
  animation-duration: 10.1s;
  animation-delay: -10.7s;
  transform-origin: -1vw 22vh;
  box-shadow: 10vmin 0 1.96011vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(9) {
  color: #E45A84;
  top: 54%;
  left: 29%;
  animation-duration: 12.4s;
  animation-delay: -13.3s;
  transform-origin: -20vw 3vh;
  box-shadow: 10vmin 0 1.52293vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(10) {
  color: #583C87;
  top: 2%;
  left: 7%;
  animation-duration: 11.8s;
  animation-delay: -1.7s;
  transform-origin: 21vw 11vh;
  box-shadow: 10vmin 0 3.70866vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(11) {
  color: #FFACAC;
  top: 85%;
  left: 51%;
  animation-duration: 10.6s;
  animation-delay: -13.1s;
  transform-origin: -10vw -3vh;
  box-shadow: -10vmin 0 3.71597vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(12) {
  color: #583C87;
  top: 44%;
  left: 22%;
  animation-duration: 10.9s;
  animation-delay: -4.7s;
  transform-origin: -12vw -22vh;
  box-shadow: 10vmin 0 2.5859vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(13) {
  color: #E45A84;
  top: 85%;
  left: 46%;
  animation-duration: 13.7s;
  animation-delay: -9.2s;
  transform-origin: -9vw 17vh;
  box-shadow: 10vmin 0 2.35611vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(14) {
  color: #FFACAC;
  top: 100%;
  left: 14%;
  animation-duration: 11.3s;
  animation-delay: -11.4s;
  transform-origin: 12vw 3vh;
  box-shadow: -10vmin 0 3.20523vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(15) {
  color: #583C87;
  top: 81%;
  left: 38%;
  animation-duration: 12.8s;
  animation-delay: -1.1s;
  transform-origin: 23vw -5vh;
  box-shadow: 10vmin 0 3.0421vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(16) {
  color: #E45A84;
  top: 8%;
  left: 98%;
  animation-duration: 14.8s;
  animation-delay: -2.3s;
  transform-origin: -19vw 3vh;
  box-shadow: 10vmin 0 2.9894vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(17) {
  color: #583C87;
  top: 80%;
  left: 73%;
  animation-duration: 13.7s;
  animation-delay: -10.6s;
  transform-origin: 25vw 1vh;
  box-shadow: -10vmin 0 1.97615vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(18) {
  color: #E45A84;
  top: 94%;
  left: 55%;
  animation-duration: 13.2s;
  animation-delay: -0.5s;
  transform-origin: 21vw 7vh;
  box-shadow: 10vmin 0 1.2904vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(19) {
  color: #FFACAC;
  top: 76%;
  left: 62%;
  animation-duration: 14.4s;
  animation-delay: -6.8s;
  transform-origin: 22vw 20vh;
  box-shadow: 10vmin 0 2.74106vmin currentColor;
}
/* line 33, ../sass/screen.scss */
.background span:nth-child(20) {
  color: #583C87;
  top: 6%;
  left: 81%;
  animation-duration: 14.9s;
  animation-delay: -5.5s;
  transform-origin: -19vw -7vh;
  box-shadow: -10vmin 0 2.20201vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
/* my styles */
/* line 54, ../sass/screen.scss */
body {
  background: #ffff;
  margin: 0;
}

/* line 58, ../sass/screen.scss */
h {
  color: #1a1c2d;
}

/* line 61, ../sass/screen.scss */
h1 {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
}

/* line 65, ../sass/screen.scss */
p {
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 30px;
}

/* line 70, ../sass/screen.scss */
h2 {
  font-size: 21px;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 300;
  font-style: italic;
}

/* line 76, ../sass/screen.scss */
h3 {
  font-family: 'IBM Plex Sans', sans-serif;
}

/* line 80, ../sass/screen.scss */
h4 {
  font-family: 'IBM Plex Sans', sans-serif;
}

/* line 83, ../sass/screen.scss */
legend {
  font-family: 'IBM Plex Serif', serif;
}

/* line 86, ../sass/screen.scss */
h6 {
  color: #c0c0c0;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* line 90, ../sass/screen.scss */
h6 a {
  color: #C0C0C0;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* line 94, ../sass/screen.scss */
h6 a:hover {
  color: #1bbcbf;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* nav bar starts here */
/* line 101, ../sass/screen.scss */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fff;
  color: #fff;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* line 111, ../sass/screen.scss */
.navbar-brand {
  float: left;
  min-height: 55px;
  color: #1a1c2d !important;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 300;
  font-style: italic;
  font-size: 100%;
  text-transform: capitalize;
}

/* line 123, ../sass/screen.scss */
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
  color: #ef5e5e;
  background-color: #fff;
}

/* line 127, ../sass/screen.scss */
.navbar-inverse .navbar-nav li a {
  color: #C0C0C0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
}

/* line 133, ../sass/screen.scss */
li > a {
  position: relative;
  color: #ef5e5e;
  text-decoration: none;
}

/* line 139, ../sass/screen.scss */
li > a:hover {
  color: #1bbcbf !important;
}

/* line 143, ../sass/screen.scss */
li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1bbcbf;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* line 158, ../sass/screen.scss */
li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 900px) {
  /* line 164, ../sass/screen.scss */
  .fa {
    font-size: 20px;
    padding: 10px;
  }
}
@media (max-width: 600px) {
  /* line 171, ../sass/screen.scss */
  .carousel-caption {
    display: none;
  }

  /* line 174, ../sass/screen.scss */
  #icon {
    max-width: 150px;
  }

  /* line 177, ../sass/screen.scss */
  h2 {
    font-size: 0.7em;
  }
}
/* nav bar ends here */
/* header starts here */
/* line 183, ../sass/screen.scss */
.header-text {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-size: 8vw;
}

/* header ends here */
/* line 190, ../sass/screen.scss */
.container {
  max-width: 960px;
  margin: 4% auto;
  background: #fff;
  background-attachment: fixed;
  font-size: 24px;
  padding: 25px;
}

/* line 199, ../sass/screen.scss */
.parallax {
  background: url(../img/headerbeth.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 500px;
}

/* line 207, ../sass/screen.scss */
footer {
  width: 100%;
  background-color: #1a1c2d;
  margin: 0;
  color: #FFF;
}

/* line 213, ../sass/screen.scss */
.fa {
  padding: 20px;
  font-size: 25px;
  color: #fff;
}

/* line 218, ../sass/screen.scss */
.fa:hover {
  color: #d5d5d5;
  text-decoration: none;
}

/* line 222, ../sass/screen.scss */
#icon {
  max-width: 200px;
  margin: 1% auto;
}

/* line 226, ../sass/screen.scss */
#success_message {
  display: none;
}

/* line 227, ../sass/screen.scss */
.well {
  background: none;
}

/* line 230, ../sass/screen.scss */
.btn {
  border-radius: 0px !important;
  background: #ef5e5e;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  display: inline-block;
  transition: all .22s;
}

/* line 240, ../sass/screen.scss */
.btn:hover {
  background: #1bbcbf;
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

/* Copy from codepen.io */
/* Lazy Load Styles */
/* line 249, ../sass/screen.scss */
.card-image {
  display: block;
  min-height: 20rem;
  /* layout hack */
  background: #fff center center no-repeat;
  background-size: cover;
  filter: none;
}

/* line 258, ../sass/screen.scss */
.card-image > img {
  display: block;
  width: 100%;
  opacity: 0;
  /* visually hide the img element */
}

/* line 264, ../sass/screen.scss */
.card-image.is-loaded {
  filter: none;
  /* remove the blur on fullres image */
  transition: filter 1s;
}

/* line 269, ../sass/screen.scss */
.card-list {
  display: inline-block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

/* line 278, ../sass/screen.scss */
.card {
  display: inline-block;
  width: 40%;
  max-width: 40rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

/* line 289, ../sass/screen.scss */
.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

/* line 295, ../sass/screen.scss */
.card-description {
  display: block;
  padding: 1em 0.5em;
  color: #515151;
  text-decoration: none;
}

/* line 302, ../sass/screen.scss */
.card-description > h2 {
  margin: 0 0 0.5em;
}

/* line 306, ../sass/screen.scss */
.card-description > p {
  margin: 0;
}

/* line 310, ../sass/screen.scss */
.card-description:hover {
  color: #515151;
  text-decoration: none;
}

/* end lazy load codepen */
/* life force page starts here */
/* line 318, ../sass/screen.scss */
.lf-explode {
  align-content: center;
}

/* line 321, ../sass/screen.scss */
.lf-hands {
  max-width: 60%;
}

/* copy from code pen */
/* line 326, ../sass/screen.scss */
.ex-17 .upper {
  padding: 2rem;
  background: -moz-linear-gradient(right, #418fa4 0%, #7a85cd 100%);
  background: -webkit-linear-gradient(right, #418fa4 0%, #7a85cd 100%);
  background: linear-gradient(to left, #418fa4 0%, #7a85cd 100%);
  position: relative;
  padding-bottom: 7rem;
}

/* line 335, ../sass/screen.scss */
.ex-17 .upper p {
  margin-bottom: 0;
  text-align: center;
}

/* line 340, ../sass/screen.scss */
.ex-17 .upper .p-1 {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: 2px;
}

/* line 348, ../sass/screen.scss */
.ex-17 .upper .p-2 {
  font-family: 'Roboto', serif;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 355, ../sass/screen.scss */
.ex-17 .upper .line {
  width: 3.5rem;
  margin: 1.5rem auto;
  height: 3px;
  background: #222;
}

/* line 362, ../sass/screen.scss */
.ex-17 .upper .p-3 {
  color: #fff;
  max-width: 40rem;
  margin: 0 auto;
  width: 100%;
}

/* line 369, ../sass/screen.scss */
.ex-17 .lower {
  background: #f0fcff;
  padding-top: 5rem;
}

/* line 374, ../sass/screen.scss */
.ex-17 .wrapper {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem 0;
}

/* line 381, ../sass/screen.scss */
.ex-17 .title {
  font-family: 'Roboto', serif;
  font-size: 2rem;
  color: #222;
}

/* line 387, ../sass/screen.scss */
.ex-17 .desc {
  font-size: 1.75rem;
}

/* line 391, ../sass/screen.scss */
.ex-17 .lower .line {
  width: 3.5rem;
  background: #7A85CD;
  height: 3px;
  margin-bottom: 1.5rem;
}

/* line 398, ../sass/screen.scss */
.ex-17 .handler {
  width: 90%;
  margin: 0 auto;
  right: 0;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 408, ../sass/screen.scss */
.ex-17 .block {
  background: #fff;
  max-width: 32rem;
  margin: 0 auto;
  padding: 2rem 0;
  border-radius: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  transform: translateY(-50%);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

/* line 422, ../sass/screen.scss */
.ex-17 .block .bistro-logo {
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 429, ../sass/screen.scss */
.ex-17 .block p {
  font-family: 'Roboto', serif;
  font-size: 1rem;
  max-width: 28rem;
  width: 90%;
  margin: 0 auto;
}

/* line 437, ../sass/screen.scss */
.ex-17 .form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

/* line 444, ../sass/screen.scss */
.ex-17 input {
  height: 2rem;
  background: #f9f9f9;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 14rem;
  padding: 0 .5rem;
}

/* line 454, ../sass/screen.scss */
.ex-17 button {
  background: #303750;
  color: #fff;
  text-transform: uppercase;
  height: 2rem;
  border: 1px solid #303751;
  font-weight: 500;
  cursor: pointer;
  padding: 0 1rem;
}

/* line 465, ../sass/screen.scss */
.ex-17 button:hover {
  background: #1d2130;
}

/* end codepend */
/* bistro page starts here */
/* line 472, ../sass/screen.scss */
bis-mobile-mock01 {
  align-content: center !important;
}

/* line 475, ../sass/screen.scss */
.bistro-before {
  width: 100%;
}

/* bistro page ends here */
/* thesis process page starts here */
/* line 480, ../sass/screen.scss */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 485, ../sass/screen.scss */
.process-img {
  width: 20%;
  height: 20%;
  margin: 10px;
  transition: all 1s;
}

/* line 492, ../sass/screen.scss */
.process-img:hover {
  transform: scale(1.1);
}

/* thesis process page ends here */
